@model IEnumerable<prova.Models.Personal>

@{
    ViewData["Title"] = "Lista de Personais";
}

<h1>Lista de Personais</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo Personal</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Especialidade</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonalID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonalID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
